<%- include("partials/header") -%>
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>
    <div class="box">
        <u1>
            <% for (item of items){ %>
            <div class="item">
                <input type="checkbox">
                <p><%= item %></p>
            </div>
            <% } %> 
        </u1>
        <form class="item" method="POST" action="/">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <!-- value is used to differentiate the list -->
            <button type="submit" name="list" value=<%= listTitle %>>+</button>
        </form>
    </div>
<%- include("partials/footer") -%>
